<div class="container">
    <div class="row">
        <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
            <h3 class="text-center text-theme-primary">New Categories</h3>
            <p class="text-center mb-5">You can add new categories from here....</p>

            <form  class="form-inline text-center" #categoryForm = 'ngForm' (ngSubmit)="onSubmit(categoryForm)">

                <div class="form-group col-md-10">
                    <input type="text" name="category" class="form-control shadow-effect" placeholder="Add new Categories" ngModel #categoryType = 'ngModel' (change)="pushValue(categoryType.value)" [ngClass]="{ 'is-invalid' : categoryType.touched && categoryType.invalid}"
                    required
                    minlength="5"
                   >

                    <div *ngIf="categoryType.errors?.['required']">
                        <div class="alert alert-danger" *ngIf="categoryType.touched && categoryType.invalid">Category is required...</div>
                    </div>
              
                    <div *ngIf="categoryType.errors?.['minlength']">
                        <div class="alert alert-danger" *ngIf="categoryType.touched && categoryType.invalid">Min 5 characters are required...</div>
                    </div>

                </div>

                <div class="col-md-2">
                    <button class="btn btn-block btn-info btn-theme mb-2">Add Category</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div *ngFor="let unit of arr;let i = index">
    {{unit.value}}
</div>