<div class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">

        <div class="text-white text-center">About Us</div>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

            <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti odio ullam deserunt repellat unde, ipsa, laborum ipsam culpa voluptate ut odit obcaecati dolores voluptas ab! Ipsum dignissimos consectetur quibusdam repellat! amet consectetur, adipisicing elit. Nesciunt perferendis animi ea dolore quo nihil recusandae id incidunt a in, cumque, rem repellendus repellat libero, eius consequatur minus quis ipsa!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt perferendis animi ea dolore quo nihil recusandae id incidunt a in, Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vel voluptate culpa ex aspernatur nisi aut voluptatem qui, optio assumenda porro consectetur cum nobis mollitia in dicta alias modi quidem? cumque, rem repellendus repellat libero, eius consequatur minus quis ipsa!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt perferendis animi ea dolore quo nihil recusandae id incidunt a in, cumque, rem repellendus repellat libero, eius consequatur minus quis ipsa! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto magnam corrupti dolor facere, id ducimus doloremque autem nobis atque nostrum. Et dolor dolore veniam eos nulla nemo. Delectus, vitae!</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</div>